<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title><%= title %> <%= edition %> Commentary :: Stonecutters</title>
    <%- include('../includes/head.html') -%>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <h2><%= title %></h2>
      <p class=edition><%= editionSpelled %></p>
      <%- include('../includes/terms.html') -%>
      <h3>Comments</h3>
      <%- commentaryHTML -%>
      <%_ if (notes) { _%>
        <h3>Notes to this Edition</h3>
        <%- notesHTML -%>
      <%_ } _%>
      <h3>Metadata</h3>
      <%- include('../includes/metadata.html') -%>
    </main>
      <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
