<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title><%= identifier %> <%= edition %></title>
    <%- include('../includes/head.html') -%>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <h2><%= identifier %></h2>
      <p class=edition><%= editionSpelled %></p>
      <%_ if (edition === latest) { _%>
      <aside class=info>
        This is the latest edition of this clause.
        <%_ if (!onlyEdition) { _%>
          <a href=/<%= identifier %>>Previous editions</a> remain available.
        <%_ } _%>
      </aside>
      <%_ } else { _%>
      <aside class=warning>A <a href=/<%= identifier %>/<%= latest %>>newer edition</a> of this clause is available.</aside>
      <%_ } _%>
      <h3>Terms</h3>
      <blockquote id=terms class=terms><%- termsHTML %></blockquote>
      <aside class=info>Documents incorporating this clause by reference incorporate only the above-quoted terms.</aside>
      <h3>Metadata</h3>
      <table class=metadata id=metadata>
        <tr>
          <th><a href=https://en.wikipedia.org/wiki/Permalink target=_blank>Permalink</a></th>
          <td><a href=<%= permalink %>><%= permalink %></a></td>
        </tr>
        <%_ if (notDefined.length !== 0) { _%>
        <tr>
          <th>Undefined Terms</th>
          <td>
            <ul>
              <%_ notDefined.forEach(term => { _%>
              <li><%= term %></li>
              <%_ }) _%>
            </ul>
          </td>
        </tr>
        <%_ } _%>
        <%_ if (frontMatter.jurisdictions) { _%>
        <tr>
          <th>Jurisdictions</th>
          <td>
            <ul>
              <%_ frontMatter.jurisdictions.forEach(jurisdiction => { _%>
              <li><%= jurisdiction %></li>
              <%_ }) _%>
            </ul>
          </td>
        </tr>
        <%_ } else { _%>
        <tr>
          <th>Jurisdictions</th>
          <td>Generic</td>
        </tr>
        <%_ } _%>
        <%_ if (frontMatter.license) { _%>
        <tr>
          <th>License</th>
          <td>
            <%_ if (frontMatter.license === "CC0-1.0") { _%>
              <a
                  href=https://creativecommons.org/publicdomain/zero/1.0/legalcode
                  target=_blank
                >Creative Commons CC0 1.0 Universal Public Domain Dedication</a>
            <%_ } else { _%>
              <%= frontMatter.license %>
            <%_ } _%>
          </td>
        </tr>
        <%_ } _%>
        <%_ if (frontMatter.published) { _%>
        <tr>
          <th>Published</th>
          <td><%= frontMatter.published %></td>
        </tr>
        <%_ } _%>
      </table>
      <%_ if (notes) { _%>
        <h3>Notes to this Edition</h3>
        <%- notesHTML -%>
      <%_ } _%>
      <%_ if (commentary) { _%>
        <h3>Comments</h3>
        <%- commentaryHTML -%>
      <%_ } _%>
    </main>
      <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
