<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= identifier %> <%= edition %></title>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <main role=main>
      <h2><%= identifier %> <%= edition %></h2>
      <blockquote><%- html %></blockquote>
    </main>
  </body>
</html>
