<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= identifier %> <%= edition %></title>
  </head>
  <body>
    <header role=banner>
      <h1>Stonecutters</h1>
    </header>
    <main role=main>
      <h2><%= identifier %> <%= edition %></h2>
      <blockquote><%- html %></blockquote>
    </main>
  </body>
</html>
