<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title><%= identifier %> <%= edition %></title>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <main role=main>
      <h2><%= identifier %></h2>
      <p class=edition><%= editionSpelled %></p>
      <blockquote><%- termsHTML %></blockquote>
      <%_ if (commentary) { _%><%- commentaryHTML -%><%_ } _%>
    </main>
      <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
