<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title>Stonecutters</title>
    <%- include('../includes/head.html') -%>
  </head>
  <body>
    <%- include('../includes/banner.html') -%>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <p>Stonecutters publishes legal forms and clauses for other legal craftsmen to <a href="/how-to">incorporate by reference</a>.</p>
      <h2>Clauses</h2>
      <ul>
        <%_ clauses.forEach(clause => { _%>
        <li><a href=<%= clause.identifier %>/<%= clause.edition %>><%= clause.identifier %></a></li>
        <%_ }) _%>
      </ul>
    </main>
    <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
