<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title>Stonecutters</title>
    <%- include('../includes/head.html') -%>
  </head>
  <body>
    <%- include('../includes/banner.html') -%>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <ul>
        <%_ clauses.forEach(identifier => { _%>
        <li><a href=<%= identifier %>><%= identifier %></a></li>
        <%_ }) _%>
      </ul>
    </main>
    <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
