<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title>Stonecutters</title>
    <%- include('../includes/head.html') -%>
  </head>
  <body>
    <%- include('../includes/banner.html') -%>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <p>Stonecutters publishes legal clauses for drafters to <a href="/how-to">incorporate by reference</a>.</p>
      <h2 id=clauses>Clauses</h2>
      <ul class=twoColumn>
        <%_ clauses.forEach(clause => { _%>
        <li><a href=<%= clause.identifier %>/<%= clause.edition %>><%= clause.title %></a></li>
        <%_ }) _%>
      </ul>
      <h2 id=subjects>Subject Index</h2>
      <ul class=twoColumn>
        <%_ subjects.forEach(subject => { _%>
        <li><a href=subjects/<%= subject.slug %>><%= subject.title %></a></li>
        <%_ }) _%>
      </ul>
    </main>
    <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
