<!doctype html>
<html lang=en-US>
  <head>
    <meta charset=UTF-8>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <title><%= identifier %></title>
  </head>
  <body>
    <%- include('../includes/banner.html') %>
    <main role=main>
      <h2><%= identifier %></h2>
      <ol>
        <% Object.keys(editions).forEach(edition => { %>
        <li><a href=<%= edition %>><%= edition %></a></li>
        <% }) %>
      </ol>
    </main>
  </body>
</html>
