<!doctype html>
<html lang=en-US>
  <head>
    <%- include('../includes/meta.html') -%>
    <title><%= identifier %></title>
  </head>
  <body>
    <%- include('../includes/banner.html') -%>
    <%- include('../includes/navigation.html') %>
    <main role=main>
      <h2><%= identifier %></h2>
      <ol>
        <%_ Object.keys(editions).forEach(edition => { _%>
        <li><a href=<%= edition %>><%= edition %></a></li>
        <%_ }) _%>
      </ol>
    </main>
    <%- include('../includes/contentinfo.html') -%>
  </body>
</html>
